{{ template "header" }}

<div class="container">
  <h1>Requests</h1>

  <table class="table table-bordered">
  <thead>
    <th>Sender MAC</th>
    <th>Sender IP</th>
    <th>Target MAC</th>
    <th>Target IP</th>
    <th>Time</th>
  </thead>
  <tbody>
  {{ range $key, $data := .RequestARPStore.AllARPData }}
    <tr>
      <td>{{ $data.SenderMACAddress }}</td>
      <td>{{ $data.SenderIPAddress }}</td>
      <td>{{ $data.TargetMACAddress }}</td>
      <td>{{ $data.TargetIPAddress }}</td>
      <td>{{ $data.Time.String }}</td>
    </tr>
  {{ end }}
  </tbody>
  </table>
</div>

{{ template "footer" }}